body {
  background-color: rgb(26, 26, 29);
  color: white
}
button {
  background-color: black;
  color: rgb(19, 66, 142)
}
#back {
  font-size: 60px
}
#title {
  text-align: center;
  font-size: 50px
}
.chisla {
  background-color: white
}
#deist {
  background-color: white
}
@media (min-width: 1200px) {
  #title {
    font-size: 45px
  }
  #deist {
    font-size: 30px;
    width: 250px;
    height: 50px
  }
 .chisla {
   font-size: 30px;
   width: 250px;
   height: 50px
 }
}
@media (min-width: 1px) and (max-width: 1199px) {
  body {
    font-size: 35px
  }
  #title {
    font-size: 65px
  }
  #deist {
    width: 250px;
    height: 50px;
    margin: 0 auto 0 auto
  }
  #first {
    width: 250px;
    height: 50px
  }
  #second {
    width: 250px;
    height: 50px
  }
}
