body {
background-color: rgb(26, 26, 29)
}
div {
color: white
}
button {
background-color: black;
color: rgb(19, 66, 142)
}
.chisla {
  background-color: white
}
@media (min-width: 1200px) {
  #back {
    font-size: 40px
  }
  #deist {
    width: px;
    height: px
  }
  #first {
    width: px;
    height: px;
    font-size: px

  }
  #second {
    width: px;
    height: px;
    font-size: px
  }
  #text {
    font-size: px
  }
}
@media (min-width: 1px) {
  #back {
    font-size: 50px
  }
  #deist {
    width: 250px;
    height: 50px
  }
  #first {
    width: 250px;
    height: 50px
  }
  #second {
    width: 250px;
    height: 50px
  }
  #text {
    font-size: 35px
  }
}
